.overlay{
    background-color: #00000066;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal{
    background-color: #ffffff;
    width:90%;
    min-height: 250px;
    padding:21px;
    max-height: 80vh;
    overflow: scroll;
    position: relative;
}
.closeBtn{
    position: sticky;
    top:0;
    left:100%;
    right: 0px;
    padding:4px;
    cursor: pointer;
    background-color: transparent;
    border:none;
    outline: none;
    font-size: 24px;
    box-shadow: none;
}